# Node modules
node_modules/

# Build output
dist/

# IDE/Editor
.vscode/
.idea/

# OS-Spezifisches
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playground
playground/node_modules/
playground/dist/
